[Unit]
  Description=Timer to check if the wallpaper should be set differently

[Timer]
  OnBootSec=5min
  OnUnitActiveSec=1min
  Unit=changewallpaper.service

[Install]
  WantedBy=multi-user.target
